{{define "content"}}
<div>
  {{if .ShowAlbum}}
  <h3>{{.Results.Album.Title}} <a href="#" onclick="return playAlbum({{.Results}})">play album</a></h3>
  {{else}}
  <a href="/queue/edit">edit queue</a>
  {{end}}
  <table id="results">
    <thead>
      <tr>
        <td>Track</td>
        <td>Album</td>
        <td>Artist</td>
        <td>Duration</td>
      </tr>
    </thead>
    <tbody>
      {{range .Results.Results}}
        {{template "row" .}}
      {{end}}
    </tbody>
  </table>
</div>
{{end}}
