{{define "content"}}
<div>
  <span>sort by <a href="/history?sort_by=recent">most recent</a> or <a href="/history?sort_by=count">play count</a></span>
  <table id="results">
    <thead>
      <tr>
	<td>Track</td>
	<td>Album</td>
	<td>Artist</td>
	<td>Play Count</td>
      </tr>
    </thead>
    <tbody>
      {{range .Results.Results}}
      <tr>
        <td><a href="" onclick="return play({{.}});">{{.Track.Title}}</a></td>
	<td><a href="/albums/{{.Album.ID}}">{{.Album.Title}}</a></td>
	<td><a href="artists/{{.Artist.ID}}">{{.Artist.Name}}</a></td>
	<td>{{.PlayCount}}</td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>  
{{end}}
